# Environment variables (KEEP SECRET)
.env
.env.*
!.env.example

# Database
data/*.sqlite
data/*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

